{
    "openapi": "3.0.0",
    "info": {
        "title": "Backthred API Documentation",
        "description": "L5 Swagger OpenApi description for Backthred Application",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Primary API Server"
        }
    ],
    "paths": {
        "/api/v1/catalog/brands": {
            "get": {
                "tags": [
                    "Catalog"
                ],
                "summary": "List brands",
                "operationId": "listBrands",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptJsonHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Brands returned.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/catalog/brands/{slug}": {
            "get": {
                "tags": [
                    "Catalog"
                ],
                "summary": "Show a brand",
                "operationId": "showBrand",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptJsonHeader"
                    },
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "nike"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Brand returned.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiObjectResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Brand not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/catalog/categories": {
            "get": {
                "tags": [
                    "Catalog"
                ],
                "summary": "List categories",
                "operationId": "listCategories",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptJsonHeader"
                    },
                    {
                        "name": "root_only",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "example": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Categories returned.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/catalog/categories/{slug}": {
            "get": {
                "tags": [
                    "Catalog"
                ],
                "summary": "Show a category",
                "operationId": "showCategory",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptJsonHeader"
                    },
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "sneakers"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Category returned.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiObjectResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Category not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/catalog/tags": {
            "get": {
                "tags": [
                    "Catalog"
                ],
                "summary": "List tags",
                "operationId": "listTags",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptJsonHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tags returned.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/catalog/tags/{slug}": {
            "get": {
                "tags": [
                    "Catalog"
                ],
                "summary": "Show a tag with products",
                "operationId": "showTag",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptJsonHeader"
                    },
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "new-arrivals"
                    },
                    {
                        "$ref": "#/components/parameters/SearchQuery"
                    },
                    {
                        "$ref": "#/components/parameters/SortQuery"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tag and products returned.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiObjectResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Tag not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/catalog/collections": {
            "get": {
                "tags": [
                    "Catalog"
                ],
                "summary": "List collections",
                "operationId": "listCollections",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptJsonHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Collections returned.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiCollectionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/catalog/collections/{slug}": {
            "get": {
                "tags": [
                    "Catalog"
                ],
                "summary": "Show a collection with products",
                "operationId": "showCollection",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptJsonHeader"
                    },
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "summer-edit"
                    },
                    {
                        "$ref": "#/components/parameters/SearchQuery"
                    },
                    {
                        "$ref": "#/components/parameters/SortQuery"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Collection and products returned.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiObjectResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Collection not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/catalog/products": {
            "get": {
                "tags": [
                    "Catalog"
                ],
                "summary": "List products",
                "operationId": "listProducts",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptJsonHeader"
                    },
                    {
                        "$ref": "#/components/parameters/SearchQuery"
                    },
                    {
                        "$ref": "#/components/parameters/SortQuery"
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "sneakers"
                    },
                    {
                        "name": "brand",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "nike"
                    },
                    {
                        "name": "tag",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "new-arrivals"
                    },
                    {
                        "name": "collection",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "summer-edit"
                    },
                    {
                        "name": "featured",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "example": true
                    },
                    {
                        "name": "min_price",
                        "in": "query",
                        "description": "Minimum price in minor units.",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 5000
                    },
                    {
                        "name": "max_price",
                        "in": "query",
                        "description": "Maximum price in minor units.",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 50000
                    },
                    {
                        "name": "popularity_period",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "30d"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Products returned.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiPaginatedResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/catalog/products/{slug}": {
            "get": {
                "tags": [
                    "Catalog"
                ],
                "summary": "Show a product",
                "operationId": "showProduct",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptJsonHeader"
                    },
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "air-max-90"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Product returned.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiObjectResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Product not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/cart": {
            "get": {
                "tags": [
                    "Cart"
                ],
                "summary": "Show the current cart",
                "operationId": "showCart",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptJsonHeader"
                    },
                    {
                        "$ref": "#/components/parameters/CartTokenHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cart returned.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiObjectResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/cart/items": {
            "post": {
                "tags": [
                    "Cart"
                ],
                "summary": "Add an item to the cart",
                "operationId": "storeCartItem",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptJsonHeader"
                    },
                    {
                        "$ref": "#/components/parameters/CartTokenHeader"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CartItemRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Cart item added.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiObjectResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation or cart error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/cart/items/{cartItem}": {
            "delete": {
                "tags": [
                    "Cart"
                ],
                "summary": "Remove a cart item",
                "operationId": "deleteCartItem",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptJsonHeader"
                    },
                    {
                        "$ref": "#/components/parameters/CartTokenHeader"
                    },
                    {
                        "name": "cartItem",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cart item removed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiObjectResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Cart item not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Cart"
                ],
                "summary": "Update a cart item quantity",
                "operationId": "updateCartItem",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptJsonHeader"
                    },
                    {
                        "$ref": "#/components/parameters/CartTokenHeader"
                    },
                    {
                        "name": "cartItem",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 10
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "quantity"
                                ],
                                "properties": {
                                    "quantity": {
                                        "type": "integer",
                                        "example": 2,
                                        "minimum": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cart item updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiObjectResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Cart item not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation or cart error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/cart/coupon": {
            "post": {
                "tags": [
                    "Cart"
                ],
                "summary": "Apply a coupon to the cart",
                "operationId": "applyCartCoupon",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptJsonHeader"
                    },
                    {
                        "$ref": "#/components/parameters/CartTokenHeader"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "code"
                                ],
                                "properties": {
                                    "code": {
                                        "type": "string",
                                        "example": "WELCOME10"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Coupon applied.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiObjectResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Cart"
                ],
                "summary": "Remove the cart coupon",
                "operationId": "removeCartCoupon",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptJsonHeader"
                    },
                    {
                        "$ref": "#/components/parameters/CartTokenHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Coupon removed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiObjectResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/checkout/shipping-methods/resolve": {
            "post": {
                "tags": [
                    "Checkout"
                ],
                "summary": "Resolve available shipping methods",
                "operationId": "resolveCheckoutShippingMethods",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptJsonHeader"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "state"
                                ],
                                "properties": {
                                    "country": {
                                        "type": "string",
                                        "example": "NG"
                                    },
                                    "state": {
                                        "type": "string",
                                        "example": "Lagos"
                                    },
                                    "city": {
                                        "type": "string",
                                        "example": "Ikeja"
                                    },
                                    "postal_code": {
                                        "type": "string",
                                        "example": "100001",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Shipping methods returned.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiObjectResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ApiObjectResponse": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "message": {
                        "type": "string",
                        "example": null,
                        "nullable": true
                    },
                    "data": {
                        "type": "object",
                        "nullable": true
                    },
                    "errors": {
                        "type": "object",
                        "example": null,
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "ApiCollectionResponse": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "message": {
                        "type": "string",
                        "example": null,
                        "nullable": true
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "errors": {
                        "type": "object",
                        "example": null,
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "ApiPaginatedResponse": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "message": {
                        "type": "string",
                        "example": null,
                        "nullable": true
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "errors": {
                        "type": "object",
                        "example": null,
                        "nullable": true
                    },
                    "meta": {
                        "properties": {
                            "current_page": {
                                "type": "integer",
                                "example": 1
                            },
                            "from": {
                                "type": "integer",
                                "example": 1,
                                "nullable": true
                            },
                            "last_page": {
                                "type": "integer",
                                "example": 5
                            },
                            "path": {
                                "type": "string",
                                "example": "https://example.com/api/v1/catalog/products"
                            },
                            "per_page": {
                                "type": "integer",
                                "example": 20
                            },
                            "to": {
                                "type": "integer",
                                "example": 20,
                                "nullable": true
                            },
                            "total": {
                                "type": "integer",
                                "example": 100
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "ApiErrorResponse": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": false
                    },
                    "message": {
                        "type": "string",
                        "example": "The given data was invalid."
                    },
                    "data": {
                        "type": "object",
                        "example": null,
                        "nullable": true
                    },
                    "errors": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                },
                "type": "object"
            },
            "CartItemRequest": {
                "required": [
                    "product_id",
                    "quantity"
                ],
                "properties": {
                    "product_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "product_variant_id": {
                        "type": "integer",
                        "example": 5,
                        "nullable": true
                    },
                    "quantity": {
                        "type": "integer",
                        "example": 2,
                        "minimum": 1
                    }
                },
                "type": "object"
            }
        },
        "parameters": {
            "AcceptJsonHeader": {
                "name": "Accept",
                "in": "header",
                "required": false,
                "schema": {
                    "type": "string",
                    "default": "application/json"
                },
                "example": "application/json"
            },
            "CartTokenHeader": {
                "name": "X-Cart-Token",
                "in": "header",
                "description": "Guest cart token. Authenticated customers may omit this header.",
                "required": false,
                "schema": {
                    "type": "string"
                },
                "example": "cart_01HZ..."
            },
            "SearchQuery": {
                "name": "search",
                "in": "query",
                "required": false,
                "schema": {
                    "type": "string"
                },
                "example": "shirt"
            },
            "SortQuery": {
                "name": "sort",
                "in": "query",
                "required": false,
                "schema": {
                    "type": "string",
                    "enum": [
                        "latest",
                        "oldest",
                        "price_asc",
                        "price_desc",
                        "name_asc",
                        "name_desc",
                        "popular"
                    ]
                },
                "example": "latest"
            }
        }
    },
    "tags": [
        {
            "name": "Catalog",
            "description": "Public catalog browsing endpoints."
        },
        {
            "name": "Cart",
            "description": "Guest and customer cart endpoints."
        },
        {
            "name": "Checkout",
            "description": "Checkout helper endpoints."
        }
    ]
}